.h_parent {
  /* width: 100%; */
  /* height: ; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 130px;
  background: transparent;
  /* opacity: 0; */
  /* animation: fadeIn 1.5s .2s forwards; */
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  z-index: 0;
}

.h_parent .border {
  width: 94%;
  padding: 50px 0 0 80px;
  margin: 0 3% 0 3%;
  border-bottom: solid 1.5px #87cefa;
  display: flex;
  justify-content: space-between;
}

.h_parent .border .title {
  width: 20%;
  height: 80px;
  display: flex;
  /* justify-content: space-between; */
  background-color: darkgoldenrod;
}

.h_parent .border .title .top_icon {
  width: 80px;
  height: 80px;
  background-color: darkblue;
}

.h_parent .border .title .top_title {
  /* padding: 10px; */
  margin-left: 10px;
}

.h_parent .border .title .top_title .upper {
  margin-bottom: 0;
}

.h_parent .border .title .top_title .downer {
  margin-top: 0;
  margin-left: 10px;
}

.h_parent .border .holder {
  color: #87cefa;
  width: 20%;
  padding-bottom: 0;
  position: relative;
}

.h_parent .border .holder p {
  margin: 5px 0 0;
}

.h_parent .border .holder .number {
  border-bottom: solid 1.5px #87cefa;
}

.h_parent .border .holder .date {
  position: absolute;
  bottom: 0;
}

.top_body {
  width: 94%;
  margin: 0 3% 0 3%;
  margin-top: 130px;
}

.top_body .sub_title {
  height: 60px;
  border-bottom: solid 1.5px #87cefa;
}

.top_body .content {
  height: 5000px;
  margin-top: 10px;
  background: repeating-linear-gradient(0deg, #ffffff 0, #ffffff 29px, #87cefa 29px, #87cefa 30px);
}

#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #87cefa;
  z-index: 1;
}

#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
  z-index: 2;
}

